<?php
/**
 * MetersApi
 * PHP version 7.4
 *
 * @category Class
 * @package  SunDataMetropolisClient
 * @author   OpenAPI Generator team
 * @link     https://openapi-generator.tech
 */

/**
 * SunData API
 *
 * ### Getting Started #### Requirements * an account with the credentials;   * e-mail address   * password #### Signing In 1. Use the Sign-In endpoint to obtain a bearer token.   * open the 'authorize' of the swagger and paste the bearer-token here   * note: the authorization is persisted in the swagger but eventually the token will expire 2. Use the user/me/companies endpoint to find out which company_ids are associated with the account 3. Validate by using, for example, the Companies endpoint (GET)   * fill the company-id #### Resources Check out [support.sundata.nl](https://support.sundata.nl) to access our knowledge base. This contains  [articles about the credentials](https://support.sundata.nl/nl/collections/2594438-instructies-per-omvormer-merk) that are needed for creating a meter.  ### Changelog This API uses semantic versioning. In short; with any breaking change we'll increase the first number of the version. * v1.6.0   * Adds the plant-tags endpoints, for attaching and detaching tags * v2.0.0   * Attaching tags and companies during plant creation or updating is no longer supported.     These must now be attached using the plant-tags and plant-companies endpoints. * v2.1.0   * Added yield endpoints for company, plant and meter. * v2.2.0   * Added driver-account- and credentials-composition endpoints. You can find these under the tag: Creating a meter (also new).   * Added the option the create a meter using credential-fields instead of reference_identifier. Using the reference_identifier is still supported for now. * v2.3.0   * Added Plant time_zone property * v3.0.0   * BREAKING Removed `/companies/{company_id}/inbound-drivers` and `/companies/{company_id}/visible-inbound-drivers`.   * Added `/companies/{company_id}/visible-driver-accounts`. Note; `/companies/{company_id}/driver-accounts` was already available.   * Fixed typo in documentation and rephrased documentation regarding driver_accounts.   * Update docs on updating a meter. * v3.0.1   * Added links in this documentation to `support.sundata.nl`, specifically for create meters. * v3.1.0   * Added `/utilities/validate/credentials`. This can be useful when creating meters.   * All fields are now optional when updating a meter.   * These fields are now completely ignored when updating a meter (instead of returning 4XX); reference_identifier, inbound_driver, inbound_driver_id. * v4.0.0   * Removed reference_identifier from responses (e.g. update meter and index meters)   * Removed inbound_driver_id from responses * v4.0.1 and v4.0.2   * fixes formatting around documentation of credential-compositions  * v5.0.0 **Scheduled** January 2025 (move up from v4.0.0)   *  P90 will no longer be supported anywhere in this API. This affects creating, updating, and retrieving a meter.  Any P90 fields will be removed from the response, and any P90 fields in requests will be ignored.   * All weather_station_id fields will be removed from the responses.  ### Upcoming Changes #### January 2025: P90 removal P90 will no longer be supported anywhere in this API. This affects creating, updating, and retrieving a meter.  Any P90 fields will be removed from the response, and any P90 fields in requests will be ignored. #### January 2025: weather_station_id removal All weather_station_id fields will be removed from the responses.
 *
 * The version of the OpenAPI document: 4.0.2
 * Contact: admin@sundata.nl
 * Generated by: https://openapi-generator.tech
 * Generator version: 7.9.0
 */

/**
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

namespace SunDataMetropolisClient\Api;

use GuzzleHttp\Client;
use GuzzleHttp\ClientInterface;
use GuzzleHttp\Exception\ConnectException;
use GuzzleHttp\Exception\RequestException;
use GuzzleHttp\Psr7\MultipartStream;
use GuzzleHttp\Psr7\Request;
use GuzzleHttp\RequestOptions;
use SunDataMetropolisClient\ApiException;
use SunDataMetropolisClient\Configuration;
use SunDataMetropolisClient\HeaderSelector;
use SunDataMetropolisClient\ObjectSerializer;

/**
 * MetersApi Class Doc Comment
 *
 * @category Class
 * @package  SunDataMetropolisClient
 * @author   OpenAPI Generator team
 * @link     https://openapi-generator.tech
 */
class MetersApi
{
    /**
     * @var ClientInterface
     */
    protected $client;

    /**
     * @var Configuration
     */
    protected $config;

    /**
     * @var HeaderSelector
     */
    protected $headerSelector;

    /**
     * @var int Host index
     */
    protected $hostIndex;

    /** @var string[] $contentTypes **/
    public const contentTypes = [
        'createMeter' => [
            'application/json',
        ],
        'getMeterById' => [
            'application/json',
        ],
        'getMeterYield' => [
            'application/json',
        ],
        'updateMeter' => [
            'application/json',
        ],
    ];

    /**
     * @param ClientInterface $client
     * @param Configuration   $config
     * @param HeaderSelector  $selector
     * @param int             $hostIndex (Optional) host index to select the list of hosts if defined in the OpenAPI spec
     */
    public function __construct(
        ClientInterface $client = null,
        Configuration $config = null,
        HeaderSelector $selector = null,
        $hostIndex = 0
    ) {
        $this->client = $client ?: new Client();
        $this->config = $config ?: Configuration::getDefaultConfiguration();
        $this->headerSelector = $selector ?: new HeaderSelector();
        $this->hostIndex = $hostIndex;
    }

    /**
     * Set the host index
     *
     * @param int $hostIndex Host index (required)
     */
    public function setHostIndex($hostIndex): void
    {
        $this->hostIndex = $hostIndex;
    }

    /**
     * Get the host index
     *
     * @return int Host index
     */
    public function getHostIndex()
    {
        return $this->hostIndex;
    }

    /**
     * @return Configuration
     */
    public function getConfig()
    {
        return $this->config;
    }

    /**
     * Operation createMeter
     *
     * Create Plant Meter
     *
     * @param  int $company_id The id of the company (required)
     * @param  int $plant_id The id of the plant (required)
     * @param  \SunDataMetropolisClient\Model\PlantIdMetersBody $plant_id_meters_body plant_id_meters_body (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['createMeter'] to see the possible values for this operation
     *
     * @throws \SunDataMetropolisClient\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return \SunDataMetropolisClient\Model\Meter
     */
    public function createMeter($company_id, $plant_id, $plant_id_meters_body = null, string $contentType = self::contentTypes['createMeter'][0])
    {
        list($response) = $this->createMeterWithHttpInfo($company_id, $plant_id, $plant_id_meters_body, $contentType);
        return $response;
    }

    /**
     * Operation createMeterWithHttpInfo
     *
     * Create Plant Meter
     *
     * @param  int $company_id The id of the company (required)
     * @param  int $plant_id The id of the plant (required)
     * @param  \SunDataMetropolisClient\Model\PlantIdMetersBody $plant_id_meters_body (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['createMeter'] to see the possible values for this operation
     *
     * @throws \SunDataMetropolisClient\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of \SunDataMetropolisClient\Model\Meter, HTTP status code, HTTP response headers (array of strings)
     */
    public function createMeterWithHttpInfo($company_id, $plant_id, $plant_id_meters_body = null, string $contentType = self::contentTypes['createMeter'][0])
    {
        $request = $this->createMeterRequest($company_id, $plant_id, $plant_id_meters_body, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 200:
                    if ('\SunDataMetropolisClient\Model\Meter' === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ('\SunDataMetropolisClient\Model\Meter' !== 'string') {
                            try {
                                $content = json_decode($content, false, 512, JSON_THROW_ON_ERROR);
                            } catch (\JsonException $exception) {
                                throw new ApiException(
                                    sprintf(
                                        'Error JSON decoding server response (%s)',
                                        $request->getUri()
                                    ),
                                    $statusCode,
                                    $response->getHeaders(),
                                    $content
                                );
                            }
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, '\SunDataMetropolisClient\Model\Meter', []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
            }

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            $returnType = '\SunDataMetropolisClient\Model\Meter';
            if ($returnType === '\SplFileObject') {
                $content = $response->getBody(); //stream goes to serializer
            } else {
                $content = (string) $response->getBody();
                if ($returnType !== 'string') {
                    try {
                        $content = json_decode($content, false, 512, JSON_THROW_ON_ERROR);
                    } catch (\JsonException $exception) {
                        throw new ApiException(
                            sprintf(
                                'Error JSON decoding server response (%s)',
                                $request->getUri()
                            ),
                            $statusCode,
                            $response->getHeaders(),
                            $content
                        );
                    }
                }
            }

            return [
                ObjectSerializer::deserialize($content, $returnType, []),
                $response->getStatusCode(),
                $response->getHeaders()
            ];

        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\SunDataMetropolisClient\Model\Meter',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
            }
            throw $e;
        }
    }

    /**
     * Operation createMeterAsync
     *
     * Create Plant Meter
     *
     * @param  int $company_id The id of the company (required)
     * @param  int $plant_id The id of the plant (required)
     * @param  \SunDataMetropolisClient\Model\PlantIdMetersBody $plant_id_meters_body (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['createMeter'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function createMeterAsync($company_id, $plant_id, $plant_id_meters_body = null, string $contentType = self::contentTypes['createMeter'][0])
    {
        return $this->createMeterAsyncWithHttpInfo($company_id, $plant_id, $plant_id_meters_body, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation createMeterAsyncWithHttpInfo
     *
     * Create Plant Meter
     *
     * @param  int $company_id The id of the company (required)
     * @param  int $plant_id The id of the plant (required)
     * @param  \SunDataMetropolisClient\Model\PlantIdMetersBody $plant_id_meters_body (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['createMeter'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function createMeterAsyncWithHttpInfo($company_id, $plant_id, $plant_id_meters_body = null, string $contentType = self::contentTypes['createMeter'][0])
    {
        $returnType = '\SunDataMetropolisClient\Model\Meter';
        $request = $this->createMeterRequest($company_id, $plant_id, $plant_id_meters_body, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'createMeter'
     *
     * @param  int $company_id The id of the company (required)
     * @param  int $plant_id The id of the plant (required)
     * @param  \SunDataMetropolisClient\Model\PlantIdMetersBody $plant_id_meters_body (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['createMeter'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function createMeterRequest($company_id, $plant_id, $plant_id_meters_body = null, string $contentType = self::contentTypes['createMeter'][0])
    {

        // verify the required parameter 'company_id' is set
        if ($company_id === null || (is_array($company_id) && count($company_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $company_id when calling createMeter'
            );
        }

        // verify the required parameter 'plant_id' is set
        if ($plant_id === null || (is_array($plant_id) && count($plant_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $plant_id when calling createMeter'
            );
        }



        $resourcePath = '/companies/{company_id}/plants/{plant_id}/meters';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;



        // path params
        if ($company_id !== null) {
            $resourcePath = str_replace(
                '{' . 'company_id' . '}',
                ObjectSerializer::toPathValue($company_id),
                $resourcePath
            );
        }
        // path params
        if ($plant_id !== null) {
            $resourcePath = str_replace(
                '{' . 'plant_id' . '}',
                ObjectSerializer::toPathValue($plant_id),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (isset($plant_id_meters_body)) {
            if (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the body
                $httpBody = \GuzzleHttp\Utils::jsonEncode(ObjectSerializer::sanitizeForSerialization($plant_id_meters_body));
            } else {
                $httpBody = $plant_id_meters_body;
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if (!empty($this->config->getAccessToken())) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'POST',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation getMeterById
     *
     * Get Meter by ID
     *
     * @param  int $company_id The id of the company (required)
     * @param  int $plant_id The id of the plant (required)
     * @param  int $meter_id The id of the meter (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getMeterById'] to see the possible values for this operation
     *
     * @throws \SunDataMetropolisClient\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return \SunDataMetropolisClient\Model\Meter
     */
    public function getMeterById($company_id, $plant_id, $meter_id, string $contentType = self::contentTypes['getMeterById'][0])
    {
        list($response) = $this->getMeterByIdWithHttpInfo($company_id, $plant_id, $meter_id, $contentType);
        return $response;
    }

    /**
     * Operation getMeterByIdWithHttpInfo
     *
     * Get Meter by ID
     *
     * @param  int $company_id The id of the company (required)
     * @param  int $plant_id The id of the plant (required)
     * @param  int $meter_id The id of the meter (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getMeterById'] to see the possible values for this operation
     *
     * @throws \SunDataMetropolisClient\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of \SunDataMetropolisClient\Model\Meter, HTTP status code, HTTP response headers (array of strings)
     */
    public function getMeterByIdWithHttpInfo($company_id, $plant_id, $meter_id, string $contentType = self::contentTypes['getMeterById'][0])
    {
        $request = $this->getMeterByIdRequest($company_id, $plant_id, $meter_id, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 200:
                    if ('\SunDataMetropolisClient\Model\Meter' === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ('\SunDataMetropolisClient\Model\Meter' !== 'string') {
                            try {
                                $content = json_decode($content, false, 512, JSON_THROW_ON_ERROR);
                            } catch (\JsonException $exception) {
                                throw new ApiException(
                                    sprintf(
                                        'Error JSON decoding server response (%s)',
                                        $request->getUri()
                                    ),
                                    $statusCode,
                                    $response->getHeaders(),
                                    $content
                                );
                            }
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, '\SunDataMetropolisClient\Model\Meter', []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
            }

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            $returnType = '\SunDataMetropolisClient\Model\Meter';
            if ($returnType === '\SplFileObject') {
                $content = $response->getBody(); //stream goes to serializer
            } else {
                $content = (string) $response->getBody();
                if ($returnType !== 'string') {
                    try {
                        $content = json_decode($content, false, 512, JSON_THROW_ON_ERROR);
                    } catch (\JsonException $exception) {
                        throw new ApiException(
                            sprintf(
                                'Error JSON decoding server response (%s)',
                                $request->getUri()
                            ),
                            $statusCode,
                            $response->getHeaders(),
                            $content
                        );
                    }
                }
            }

            return [
                ObjectSerializer::deserialize($content, $returnType, []),
                $response->getStatusCode(),
                $response->getHeaders()
            ];

        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\SunDataMetropolisClient\Model\Meter',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
            }
            throw $e;
        }
    }

    /**
     * Operation getMeterByIdAsync
     *
     * Get Meter by ID
     *
     * @param  int $company_id The id of the company (required)
     * @param  int $plant_id The id of the plant (required)
     * @param  int $meter_id The id of the meter (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getMeterById'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getMeterByIdAsync($company_id, $plant_id, $meter_id, string $contentType = self::contentTypes['getMeterById'][0])
    {
        return $this->getMeterByIdAsyncWithHttpInfo($company_id, $plant_id, $meter_id, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation getMeterByIdAsyncWithHttpInfo
     *
     * Get Meter by ID
     *
     * @param  int $company_id The id of the company (required)
     * @param  int $plant_id The id of the plant (required)
     * @param  int $meter_id The id of the meter (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getMeterById'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getMeterByIdAsyncWithHttpInfo($company_id, $plant_id, $meter_id, string $contentType = self::contentTypes['getMeterById'][0])
    {
        $returnType = '\SunDataMetropolisClient\Model\Meter';
        $request = $this->getMeterByIdRequest($company_id, $plant_id, $meter_id, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'getMeterById'
     *
     * @param  int $company_id The id of the company (required)
     * @param  int $plant_id The id of the plant (required)
     * @param  int $meter_id The id of the meter (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getMeterById'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function getMeterByIdRequest($company_id, $plant_id, $meter_id, string $contentType = self::contentTypes['getMeterById'][0])
    {

        // verify the required parameter 'company_id' is set
        if ($company_id === null || (is_array($company_id) && count($company_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $company_id when calling getMeterById'
            );
        }

        // verify the required parameter 'plant_id' is set
        if ($plant_id === null || (is_array($plant_id) && count($plant_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $plant_id when calling getMeterById'
            );
        }

        // verify the required parameter 'meter_id' is set
        if ($meter_id === null || (is_array($meter_id) && count($meter_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $meter_id when calling getMeterById'
            );
        }


        $resourcePath = '/companies/{company_id}/plants/{plant_id}/meters/{meter_id}';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;



        // path params
        if ($company_id !== null) {
            $resourcePath = str_replace(
                '{' . 'company_id' . '}',
                ObjectSerializer::toPathValue($company_id),
                $resourcePath
            );
        }
        // path params
        if ($plant_id !== null) {
            $resourcePath = str_replace(
                '{' . 'plant_id' . '}',
                ObjectSerializer::toPathValue($plant_id),
                $resourcePath
            );
        }
        // path params
        if ($meter_id !== null) {
            $resourcePath = str_replace(
                '{' . 'meter_id' . '}',
                ObjectSerializer::toPathValue($meter_id),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if (!empty($this->config->getAccessToken())) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'GET',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation getMeterYield
     *
     * Get the yield for a meter over a period
     *
     * @param  int $company_id The id of the company (required)
     * @param  int $plant_id The id of the plant (required)
     * @param  int $meter_id The id of the meter (required)
     * @param  string $start_date start_date (required)
     * @param  string $end_date end_date (required)
     * @param  string $period_type note, hour is not available for company-yield (required)
     * @param  string $yield_type yield_type (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getMeterYield'] to see the possible values for this operation
     *
     * @throws \SunDataMetropolisClient\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return \SunDataMetropolisClient\Model\Yields
     */
    public function getMeterYield($company_id, $plant_id, $meter_id, $start_date, $end_date, $period_type, $yield_type, string $contentType = self::contentTypes['getMeterYield'][0])
    {
        list($response) = $this->getMeterYieldWithHttpInfo($company_id, $plant_id, $meter_id, $start_date, $end_date, $period_type, $yield_type, $contentType);
        return $response;
    }

    /**
     * Operation getMeterYieldWithHttpInfo
     *
     * Get the yield for a meter over a period
     *
     * @param  int $company_id The id of the company (required)
     * @param  int $plant_id The id of the plant (required)
     * @param  int $meter_id The id of the meter (required)
     * @param  string $start_date (required)
     * @param  string $end_date (required)
     * @param  string $period_type note, hour is not available for company-yield (required)
     * @param  string $yield_type (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getMeterYield'] to see the possible values for this operation
     *
     * @throws \SunDataMetropolisClient\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of \SunDataMetropolisClient\Model\Yields, HTTP status code, HTTP response headers (array of strings)
     */
    public function getMeterYieldWithHttpInfo($company_id, $plant_id, $meter_id, $start_date, $end_date, $period_type, $yield_type, string $contentType = self::contentTypes['getMeterYield'][0])
    {
        $request = $this->getMeterYieldRequest($company_id, $plant_id, $meter_id, $start_date, $end_date, $period_type, $yield_type, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 200:
                    if ('\SunDataMetropolisClient\Model\Yields' === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ('\SunDataMetropolisClient\Model\Yields' !== 'string') {
                            try {
                                $content = json_decode($content, false, 512, JSON_THROW_ON_ERROR);
                            } catch (\JsonException $exception) {
                                throw new ApiException(
                                    sprintf(
                                        'Error JSON decoding server response (%s)',
                                        $request->getUri()
                                    ),
                                    $statusCode,
                                    $response->getHeaders(),
                                    $content
                                );
                            }
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, '\SunDataMetropolisClient\Model\Yields', []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
            }

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            $returnType = '\SunDataMetropolisClient\Model\Yields';
            if ($returnType === '\SplFileObject') {
                $content = $response->getBody(); //stream goes to serializer
            } else {
                $content = (string) $response->getBody();
                if ($returnType !== 'string') {
                    try {
                        $content = json_decode($content, false, 512, JSON_THROW_ON_ERROR);
                    } catch (\JsonException $exception) {
                        throw new ApiException(
                            sprintf(
                                'Error JSON decoding server response (%s)',
                                $request->getUri()
                            ),
                            $statusCode,
                            $response->getHeaders(),
                            $content
                        );
                    }
                }
            }

            return [
                ObjectSerializer::deserialize($content, $returnType, []),
                $response->getStatusCode(),
                $response->getHeaders()
            ];

        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\SunDataMetropolisClient\Model\Yields',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
            }
            throw $e;
        }
    }

    /**
     * Operation getMeterYieldAsync
     *
     * Get the yield for a meter over a period
     *
     * @param  int $company_id The id of the company (required)
     * @param  int $plant_id The id of the plant (required)
     * @param  int $meter_id The id of the meter (required)
     * @param  string $start_date (required)
     * @param  string $end_date (required)
     * @param  string $period_type note, hour is not available for company-yield (required)
     * @param  string $yield_type (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getMeterYield'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getMeterYieldAsync($company_id, $plant_id, $meter_id, $start_date, $end_date, $period_type, $yield_type, string $contentType = self::contentTypes['getMeterYield'][0])
    {
        return $this->getMeterYieldAsyncWithHttpInfo($company_id, $plant_id, $meter_id, $start_date, $end_date, $period_type, $yield_type, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation getMeterYieldAsyncWithHttpInfo
     *
     * Get the yield for a meter over a period
     *
     * @param  int $company_id The id of the company (required)
     * @param  int $plant_id The id of the plant (required)
     * @param  int $meter_id The id of the meter (required)
     * @param  string $start_date (required)
     * @param  string $end_date (required)
     * @param  string $period_type note, hour is not available for company-yield (required)
     * @param  string $yield_type (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getMeterYield'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getMeterYieldAsyncWithHttpInfo($company_id, $plant_id, $meter_id, $start_date, $end_date, $period_type, $yield_type, string $contentType = self::contentTypes['getMeterYield'][0])
    {
        $returnType = '\SunDataMetropolisClient\Model\Yields';
        $request = $this->getMeterYieldRequest($company_id, $plant_id, $meter_id, $start_date, $end_date, $period_type, $yield_type, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'getMeterYield'
     *
     * @param  int $company_id The id of the company (required)
     * @param  int $plant_id The id of the plant (required)
     * @param  int $meter_id The id of the meter (required)
     * @param  string $start_date (required)
     * @param  string $end_date (required)
     * @param  string $period_type note, hour is not available for company-yield (required)
     * @param  string $yield_type (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getMeterYield'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function getMeterYieldRequest($company_id, $plant_id, $meter_id, $start_date, $end_date, $period_type, $yield_type, string $contentType = self::contentTypes['getMeterYield'][0])
    {

        // verify the required parameter 'company_id' is set
        if ($company_id === null || (is_array($company_id) && count($company_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $company_id when calling getMeterYield'
            );
        }

        // verify the required parameter 'plant_id' is set
        if ($plant_id === null || (is_array($plant_id) && count($plant_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $plant_id when calling getMeterYield'
            );
        }

        // verify the required parameter 'meter_id' is set
        if ($meter_id === null || (is_array($meter_id) && count($meter_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $meter_id when calling getMeterYield'
            );
        }

        // verify the required parameter 'start_date' is set
        if ($start_date === null || (is_array($start_date) && count($start_date) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $start_date when calling getMeterYield'
            );
        }

        // verify the required parameter 'end_date' is set
        if ($end_date === null || (is_array($end_date) && count($end_date) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $end_date when calling getMeterYield'
            );
        }

        // verify the required parameter 'period_type' is set
        if ($period_type === null || (is_array($period_type) && count($period_type) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $period_type when calling getMeterYield'
            );
        }

        // verify the required parameter 'yield_type' is set
        if ($yield_type === null || (is_array($yield_type) && count($yield_type) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $yield_type when calling getMeterYield'
            );
        }


        $resourcePath = '/companies/{company_id}/plants/{plant_id}/meters/{meter_id}/yield';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;

        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $start_date,
            'start_date', // param base name
            'string', // openApiType
            'form', // style
            true, // explode
            true // required
        ) ?? []);
        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $end_date,
            'end_date', // param base name
            'string', // openApiType
            'form', // style
            true, // explode
            true // required
        ) ?? []);
        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $period_type,
            'period_type', // param base name
            'string', // openApiType
            'form', // style
            true, // explode
            true // required
        ) ?? []);
        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $yield_type,
            'yield_type', // param base name
            'string', // openApiType
            'form', // style
            true, // explode
            true // required
        ) ?? []);


        // path params
        if ($company_id !== null) {
            $resourcePath = str_replace(
                '{' . 'company_id' . '}',
                ObjectSerializer::toPathValue($company_id),
                $resourcePath
            );
        }
        // path params
        if ($plant_id !== null) {
            $resourcePath = str_replace(
                '{' . 'plant_id' . '}',
                ObjectSerializer::toPathValue($plant_id),
                $resourcePath
            );
        }
        // path params
        if ($meter_id !== null) {
            $resourcePath = str_replace(
                '{' . 'meter_id' . '}',
                ObjectSerializer::toPathValue($meter_id),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if (!empty($this->config->getAccessToken())) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'GET',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation updateMeter
     *
     * Update Meter
     *
     * @param  int $company_id The id of the company (required)
     * @param  int $plant_id The id of the plant (required)
     * @param  int $meter_id The id of the meter (required)
     * @param  \SunDataMetropolisClient\Model\MeterUpdatePayload $meter_update_payload meter_update_payload (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['updateMeter'] to see the possible values for this operation
     *
     * @throws \SunDataMetropolisClient\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return \SunDataMetropolisClient\Model\Meter
     */
    public function updateMeter($company_id, $plant_id, $meter_id, $meter_update_payload = null, string $contentType = self::contentTypes['updateMeter'][0])
    {
        list($response) = $this->updateMeterWithHttpInfo($company_id, $plant_id, $meter_id, $meter_update_payload, $contentType);
        return $response;
    }

    /**
     * Operation updateMeterWithHttpInfo
     *
     * Update Meter
     *
     * @param  int $company_id The id of the company (required)
     * @param  int $plant_id The id of the plant (required)
     * @param  int $meter_id The id of the meter (required)
     * @param  \SunDataMetropolisClient\Model\MeterUpdatePayload $meter_update_payload (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['updateMeter'] to see the possible values for this operation
     *
     * @throws \SunDataMetropolisClient\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of \SunDataMetropolisClient\Model\Meter, HTTP status code, HTTP response headers (array of strings)
     */
    public function updateMeterWithHttpInfo($company_id, $plant_id, $meter_id, $meter_update_payload = null, string $contentType = self::contentTypes['updateMeter'][0])
    {
        $request = $this->updateMeterRequest($company_id, $plant_id, $meter_id, $meter_update_payload, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 200:
                    if ('\SunDataMetropolisClient\Model\Meter' === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ('\SunDataMetropolisClient\Model\Meter' !== 'string') {
                            try {
                                $content = json_decode($content, false, 512, JSON_THROW_ON_ERROR);
                            } catch (\JsonException $exception) {
                                throw new ApiException(
                                    sprintf(
                                        'Error JSON decoding server response (%s)',
                                        $request->getUri()
                                    ),
                                    $statusCode,
                                    $response->getHeaders(),
                                    $content
                                );
                            }
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, '\SunDataMetropolisClient\Model\Meter', []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
            }

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            $returnType = '\SunDataMetropolisClient\Model\Meter';
            if ($returnType === '\SplFileObject') {
                $content = $response->getBody(); //stream goes to serializer
            } else {
                $content = (string) $response->getBody();
                if ($returnType !== 'string') {
                    try {
                        $content = json_decode($content, false, 512, JSON_THROW_ON_ERROR);
                    } catch (\JsonException $exception) {
                        throw new ApiException(
                            sprintf(
                                'Error JSON decoding server response (%s)',
                                $request->getUri()
                            ),
                            $statusCode,
                            $response->getHeaders(),
                            $content
                        );
                    }
                }
            }

            return [
                ObjectSerializer::deserialize($content, $returnType, []),
                $response->getStatusCode(),
                $response->getHeaders()
            ];

        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\SunDataMetropolisClient\Model\Meter',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
            }
            throw $e;
        }
    }

    /**
     * Operation updateMeterAsync
     *
     * Update Meter
     *
     * @param  int $company_id The id of the company (required)
     * @param  int $plant_id The id of the plant (required)
     * @param  int $meter_id The id of the meter (required)
     * @param  \SunDataMetropolisClient\Model\MeterUpdatePayload $meter_update_payload (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['updateMeter'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function updateMeterAsync($company_id, $plant_id, $meter_id, $meter_update_payload = null, string $contentType = self::contentTypes['updateMeter'][0])
    {
        return $this->updateMeterAsyncWithHttpInfo($company_id, $plant_id, $meter_id, $meter_update_payload, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation updateMeterAsyncWithHttpInfo
     *
     * Update Meter
     *
     * @param  int $company_id The id of the company (required)
     * @param  int $plant_id The id of the plant (required)
     * @param  int $meter_id The id of the meter (required)
     * @param  \SunDataMetropolisClient\Model\MeterUpdatePayload $meter_update_payload (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['updateMeter'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function updateMeterAsyncWithHttpInfo($company_id, $plant_id, $meter_id, $meter_update_payload = null, string $contentType = self::contentTypes['updateMeter'][0])
    {
        $returnType = '\SunDataMetropolisClient\Model\Meter';
        $request = $this->updateMeterRequest($company_id, $plant_id, $meter_id, $meter_update_payload, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'updateMeter'
     *
     * @param  int $company_id The id of the company (required)
     * @param  int $plant_id The id of the plant (required)
     * @param  int $meter_id The id of the meter (required)
     * @param  \SunDataMetropolisClient\Model\MeterUpdatePayload $meter_update_payload (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['updateMeter'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function updateMeterRequest($company_id, $plant_id, $meter_id, $meter_update_payload = null, string $contentType = self::contentTypes['updateMeter'][0])
    {

        // verify the required parameter 'company_id' is set
        if ($company_id === null || (is_array($company_id) && count($company_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $company_id when calling updateMeter'
            );
        }

        // verify the required parameter 'plant_id' is set
        if ($plant_id === null || (is_array($plant_id) && count($plant_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $plant_id when calling updateMeter'
            );
        }

        // verify the required parameter 'meter_id' is set
        if ($meter_id === null || (is_array($meter_id) && count($meter_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $meter_id when calling updateMeter'
            );
        }



        $resourcePath = '/companies/{company_id}/plants/{plant_id}/meters/{meter_id}';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;



        // path params
        if ($company_id !== null) {
            $resourcePath = str_replace(
                '{' . 'company_id' . '}',
                ObjectSerializer::toPathValue($company_id),
                $resourcePath
            );
        }
        // path params
        if ($plant_id !== null) {
            $resourcePath = str_replace(
                '{' . 'plant_id' . '}',
                ObjectSerializer::toPathValue($plant_id),
                $resourcePath
            );
        }
        // path params
        if ($meter_id !== null) {
            $resourcePath = str_replace(
                '{' . 'meter_id' . '}',
                ObjectSerializer::toPathValue($meter_id),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (isset($meter_update_payload)) {
            if (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the body
                $httpBody = \GuzzleHttp\Utils::jsonEncode(ObjectSerializer::sanitizeForSerialization($meter_update_payload));
            } else {
                $httpBody = $meter_update_payload;
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if (!empty($this->config->getAccessToken())) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'PUT',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Create http client option
     *
     * @throws \RuntimeException on file opening failure
     * @return array of http client options
     */
    protected function createHttpClientOption()
    {
        $options = [];
        if ($this->config->getDebug()) {
            $options[RequestOptions::DEBUG] = fopen($this->config->getDebugFile(), 'a');
            if (!$options[RequestOptions::DEBUG]) {
                throw new \RuntimeException('Failed to open the debug file: ' . $this->config->getDebugFile());
            }
        }

        return $options;
    }
}
