<?php
/**
 * UserApi
 * PHP version 7.4
 *
 * @category Class
 * @package  SunDataMetropolisClient
 * @author   OpenAPI Generator team
 * @link     https://openapi-generator.tech
 */

/**
 * SunData API
 *
 * ### Getting Started #### Requirements * an account with the credentials;   * e-mail address   * password #### Signing In 1. Use the Sign-In endpoint to obtain a bearer token.   * open the 'authorize' of the swagger and paste the bearer-token here   * note: the authorization is persisted in the swagger but eventually the token will expire 2. Use the user/me/companies endpoint to find out which company_ids are associated with the account 3. Validate by using, for example, the Companies endpoint (GET)   * fill the company-id #### Resources Check out [support.sundata.nl](https://support.sundata.nl) to access our knowledge base. This contains  [articles about the credentials](https://support.sundata.nl/nl/collections/2594438-instructies-per-omvormer-merk) that are needed for creating a meter.  ### Changelog This API uses semantic versioning. In short; with any breaking change we'll increase the first number of the version. * v1.6.0   * Adds the plant-tags endpoints, for attaching and detaching tags * v2.0.0   * Attaching tags and companies during plant creation or updating is no longer supported.     These must now be attached using the plant-tags and plant-companies endpoints. * v2.1.0   * Added yield endpoints for company, plant and meter. * v2.2.0   * Added driver-account- and credentials-composition endpoints. You can find these under the tag: Creating a meter (also new).   * Added the option the create a meter using credential-fields instead of reference_identifier. Using the reference_identifier is still supported for now. * v2.3.0   * Added Plant time_zone property * v3.0.0   * BREAKING Removed `/companies/{company_id}/inbound-drivers` and `/companies/{company_id}/visible-inbound-drivers`.   * Added `/companies/{company_id}/visible-driver-accounts`. Note; `/companies/{company_id}/driver-accounts` was already available.   * Fixed typo in documentation and rephrased documentation regarding driver_accounts.   * Update docs on updating a meter. * v3.0.1   * Added links in this documentation to `support.sundata.nl`, specifically for create meters. * v3.1.0   * Added `/utilities/validate/credentials`. This can be useful when creating meters.   * All fields are now optional when updating a meter.   * These fields are now completely ignored when updating a meter (instead of returning 4XX); reference_identifier, inbound_driver, inbound_driver_id. * v4.0.0   * Removed reference_identifier from responses (e.g. update meter and index meters)   * Removed inbound_driver_id from responses * v5.0.0 **Scheduled** January 2025 (move up from v4.0.0)   *  P90 will no longer be supported anywhere in this API. This affects creating, updating, and retrieving a meter.  Any P90 fields will be removed from the response, and any P90 fields in requests will be ignored.   * All weather_station_id fields will be removed from the responses.  ### Upcoming Changes #### January 2025: P90 removal P90 will no longer be supported anywhere in this API. This affects creating, updating, and retrieving a meter.  Any P90 fields will be removed from the response, and any P90 fields in requests will be ignored. #### January 2025: weather_station_id removal All weather_station_id fields will be removed from the responses.
 *
 * The version of the OpenAPI document: 4.0.1
 * Contact: admin@sundata.nl
 * Generated by: https://openapi-generator.tech
 * Generator version: 7.9.0
 */

/**
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

namespace SunDataMetropolisClient\Api;

use GuzzleHttp\Client;
use GuzzleHttp\ClientInterface;
use GuzzleHttp\Exception\ConnectException;
use GuzzleHttp\Exception\RequestException;
use GuzzleHttp\Psr7\MultipartStream;
use GuzzleHttp\Psr7\Request;
use GuzzleHttp\RequestOptions;
use SunDataMetropolisClient\ApiException;
use SunDataMetropolisClient\Configuration;
use SunDataMetropolisClient\HeaderSelector;
use SunDataMetropolisClient\ObjectSerializer;

/**
 * UserApi Class Doc Comment
 *
 * @category Class
 * @package  SunDataMetropolisClient
 * @author   OpenAPI Generator team
 * @link     https://openapi-generator.tech
 */
class UserApi
{
    /**
     * @var ClientInterface
     */
    protected $client;

    /**
     * @var Configuration
     */
    protected $config;

    /**
     * @var HeaderSelector
     */
    protected $headerSelector;

    /**
     * @var int Host index
     */
    protected $hostIndex;

    /** @var string[] $contentTypes **/
    public const contentTypes = [
        'getUserMe' => [
            'application/json',
        ],
        'getUserMeCompanies' => [
            'application/json',
        ],
    ];

    /**
     * @param ClientInterface $client
     * @param Configuration   $config
     * @param HeaderSelector  $selector
     * @param int             $hostIndex (Optional) host index to select the list of hosts if defined in the OpenAPI spec
     */
    public function __construct(
        ClientInterface $client = null,
        Configuration $config = null,
        HeaderSelector $selector = null,
        $hostIndex = 0
    ) {
        $this->client = $client ?: new Client();
        $this->config = $config ?: Configuration::getDefaultConfiguration();
        $this->headerSelector = $selector ?: new HeaderSelector();
        $this->hostIndex = $hostIndex;
    }

    /**
     * Set the host index
     *
     * @param int $hostIndex Host index (required)
     */
    public function setHostIndex($hostIndex): void
    {
        $this->hostIndex = $hostIndex;
    }

    /**
     * Get the host index
     *
     * @return int Host index
     */
    public function getHostIndex()
    {
        return $this->hostIndex;
    }

    /**
     * @return Configuration
     */
    public function getConfig()
    {
        return $this->config;
    }

    /**
     * Operation getUserMe
     *
     * Information about the current account
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getUserMe'] to see the possible values for this operation
     *
     * @throws \SunDataMetropolisClient\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return void
     */
    public function getUserMe(string $contentType = self::contentTypes['getUserMe'][0])
    {
        $this->getUserMeWithHttpInfo($contentType);
    }

    /**
     * Operation getUserMeWithHttpInfo
     *
     * Information about the current account
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getUserMe'] to see the possible values for this operation
     *
     * @throws \SunDataMetropolisClient\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function getUserMeWithHttpInfo(string $contentType = self::contentTypes['getUserMe'][0])
    {
        $request = $this->getUserMeRequest($contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            return [null, $statusCode, $response->getHeaders()];

        } catch (ApiException $e) {
            switch ($e->getCode()) {
            }
            throw $e;
        }
    }

    /**
     * Operation getUserMeAsync
     *
     * Information about the current account
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getUserMe'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getUserMeAsync(string $contentType = self::contentTypes['getUserMe'][0])
    {
        return $this->getUserMeAsyncWithHttpInfo($contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation getUserMeAsyncWithHttpInfo
     *
     * Information about the current account
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getUserMe'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getUserMeAsyncWithHttpInfo(string $contentType = self::contentTypes['getUserMe'][0])
    {
        $returnType = '';
        $request = $this->getUserMeRequest($contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    return [null, $response->getStatusCode(), $response->getHeaders()];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'getUserMe'
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getUserMe'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function getUserMeRequest(string $contentType = self::contentTypes['getUserMe'][0])
    {


        $resourcePath = '/users/me';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;





        $headers = $this->headerSelector->selectHeaders(
            [],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if (!empty($this->config->getAccessToken())) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'GET',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation getUserMeCompanies
     *
     * List the companies associated with your account
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getUserMeCompanies'] to see the possible values for this operation
     *
     * @throws \SunDataMetropolisClient\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return void
     */
    public function getUserMeCompanies(string $contentType = self::contentTypes['getUserMeCompanies'][0])
    {
        $this->getUserMeCompaniesWithHttpInfo($contentType);
    }

    /**
     * Operation getUserMeCompaniesWithHttpInfo
     *
     * List the companies associated with your account
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getUserMeCompanies'] to see the possible values for this operation
     *
     * @throws \SunDataMetropolisClient\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function getUserMeCompaniesWithHttpInfo(string $contentType = self::contentTypes['getUserMeCompanies'][0])
    {
        $request = $this->getUserMeCompaniesRequest($contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            return [null, $statusCode, $response->getHeaders()];

        } catch (ApiException $e) {
            switch ($e->getCode()) {
            }
            throw $e;
        }
    }

    /**
     * Operation getUserMeCompaniesAsync
     *
     * List the companies associated with your account
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getUserMeCompanies'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getUserMeCompaniesAsync(string $contentType = self::contentTypes['getUserMeCompanies'][0])
    {
        return $this->getUserMeCompaniesAsyncWithHttpInfo($contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation getUserMeCompaniesAsyncWithHttpInfo
     *
     * List the companies associated with your account
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getUserMeCompanies'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getUserMeCompaniesAsyncWithHttpInfo(string $contentType = self::contentTypes['getUserMeCompanies'][0])
    {
        $returnType = '';
        $request = $this->getUserMeCompaniesRequest($contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    return [null, $response->getStatusCode(), $response->getHeaders()];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'getUserMeCompanies'
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getUserMeCompanies'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function getUserMeCompaniesRequest(string $contentType = self::contentTypes['getUserMeCompanies'][0])
    {


        $resourcePath = '/users/me/companies';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;





        $headers = $this->headerSelector->selectHeaders(
            [],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if (!empty($this->config->getAccessToken())) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'GET',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Create http client option
     *
     * @throws \RuntimeException on file opening failure
     * @return array of http client options
     */
    protected function createHttpClientOption()
    {
        $options = [];
        if ($this->config->getDebug()) {
            $options[RequestOptions::DEBUG] = fopen($this->config->getDebugFile(), 'a');
            if (!$options[RequestOptions::DEBUG]) {
                throw new \RuntimeException('Failed to open the debug file: ' . $this->config->getDebugFile());
            }
        }

        return $options;
    }
}
