<?php
/**
 * ApiException
 * PHP version 7.4
 *
 * @category Class
 * @package  SunDataMetropolisClient
 * @author   OpenAPI Generator team
 * @link     https://openapi-generator.tech
 */

/**
 * SunData API
 *
 * ### Getting Started #### Requirements * an account with the credentials;   * e-mail address   * password #### Signing In 1. Use the Sign-In endpoint to obtain a bearer token.   * open the 'authorize' of the swagger and paste the bearer-token here   * note: the authorization is persisted in the swagger but eventually the token will expire 2. Use the user/me/companies endpoint to find out which company_ids are associated with the account 3. Validate by using, for example, the Companies endpoint (GET)   * fill the company-id #### Resources Check out [support.sundata.nl](https://support.sundata.nl) to access our knowledge base. This contains  [articles about the credentials](https://support.sundata.nl/nl/collections/2594438-instructies-per-omvormer-merk) that are needed for creating a meter.  ### Changelog This API uses semantic versioning. In short; with any breaking change we'll increase the first number of the version. * v1.6.0   * Adds the plant-tags endpoints, for attaching and detaching tags * v2.0.0   * Attaching tags and companies during plant creation or updating is no longer supported.     These must now be attached using the plant-tags and plant-companies endpoints. * v2.1.0   * Added yield endpoints for company, plant and meter. * v2.2.0   * Added driver-account- and credentials-composition endpoints. You can find these under the tag: Creating a meter (also new).   * Added the option the create a meter using credential-fields instead of reference_identifier. Using the reference_identifier is still supported for now. * v2.3.0   * Added Plant time_zone property * v3.0.0   * BREAKING Removed `/companies/{company_id}/inbound-drivers` and `/companies/{company_id}/visible-inbound-drivers`.   * Added `/companies/{company_id}/visible-driver-accounts`. Note; `/companies/{company_id}/driver-accounts` was already available.   * Fixed typo in documentation and rephrased documentation regarding driver_accounts.   * Update docs on updating a meter. * v3.0.1   * Added links in this documentation to `support.sundata.nl`, specifically for create meters. * v3.1.0   * Added `/utilities/validate/credentials`. This can be useful when creating meters.   * All fields are now optional when updating a meter.   * These fields are now completely ignored when updating a meter (instead of returning 4XX); reference_identifier, inbound_driver, inbound_driver_id. * v4.0.0   * Removed reference_identifier from responses (e.g. update meter and index meters)   * Removed inbound_driver_id from responses * v5.0.0 **Scheduled** January 2025 (move up from v4.0.0)   *  P90 will no longer be supported anywhere in this API. This affects creating, updating, and retrieving a meter.  Any P90 fields will be removed from the response, and any P90 fields in requests will be ignored.   * All weather_station_id fields will be removed from the responses.  ### Upcoming Changes #### January 2025: P90 removal P90 will no longer be supported anywhere in this API. This affects creating, updating, and retrieving a meter.  Any P90 fields will be removed from the response, and any P90 fields in requests will be ignored. #### January 2025: weather_station_id removal All weather_station_id fields will be removed from the responses.
 *
 * The version of the OpenAPI document: 4.0.1
 * Contact: admin@sundata.nl
 * Generated by: https://openapi-generator.tech
 * Generator version: 7.9.0
 */

/**
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

namespace SunDataMetropolisClient;

use \Exception;

/**
 * ApiException Class Doc Comment
 *
 * @category Class
 * @package  SunDataMetropolisClient
 * @author   OpenAPI Generator team
 * @link     https://openapi-generator.tech
 */
class ApiException extends Exception
{
    /**
     * The HTTP body of the server response either as Json or string.
     *
     * @var \stdClass|string|null
     */
    protected $responseBody;

    /**
     * The HTTP header of the server response.
     *
     * @var string[][]|null
     */
    protected $responseHeaders;

    /**
     * The deserialized response object
     *
     * @var \stdClass|string|null
     */
    protected $responseObject;

    /**
     * Constructor
     *
     * @param string                $message         Error message
     * @param int                   $code            HTTP status code
     * @param string[][]|null       $responseHeaders HTTP response header
     * @param \stdClass|string|null $responseBody    HTTP decoded body of the server response either as \stdClass or string
     */
    public function __construct($message = "", $code = 0, $responseHeaders = [], $responseBody = null)
    {
        parent::__construct($message, $code);
        $this->responseHeaders = $responseHeaders;
        $this->responseBody = $responseBody;
    }

    /**
     * Gets the HTTP response header
     *
     * @return string[][]|null HTTP response header
     */
    public function getResponseHeaders()
    {
        return $this->responseHeaders;
    }

    /**
     * Gets the HTTP body of the server response either as Json or string
     *
     * @return \stdClass|string|null HTTP body of the server response either as \stdClass or string
     */
    public function getResponseBody()
    {
        return $this->responseBody;
    }

    /**
     * Sets the deserialized response object (during deserialization)
     *
     * @param mixed $obj Deserialized response object
     *
     * @return void
     */
    public function setResponseObject($obj)
    {
        $this->responseObject = $obj;
    }

    /**
     * Gets the deserialized response object (during deserialization)
     *
     * @return mixed the deserialized response object
     */
    public function getResponseObject()
    {
        return $this->responseObject;
    }
}
